body {
  margin: 0 auto;

  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(98, 98, 225);
  color: aliceblue;
  padding: 10px 10rem;
}

.cart-total-header {
  position: absolute;
  top: 40px;
  right: 10rem;
  background-color: rgb(100, 152, 230);
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: bold;
  transform: translate(-50%, 15%);
}

h1 {
  margin: 0;
  font-size: small;
  font-weight: 50;
  font-size: 1.5rem;
}

.icon {
  padding: 20px;
  color: aliceblue;
  height: 40px;
  width: 40px;
}

h2 {
  margin-top: 50px;
  justify-self: center;
  font-weight: lighter;
  font-size: 2rem;
}
.container {
  max-width: 800px;
  margin: 40px auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-info img {
  width: 70px;
  height: 110px;
  object-fit: cover;
}

.item-text h2 {
  margin: 0 0 4px;
  font-size: 20px;
  letter-spacing: 0.04em;
}

.price {
  margin: 0 0 4px;
  color: #555;
}

.remove-btn {
  padding: 0;
  border: none;
  background: none;
  color: blueviolet;
  font-size: 14px;
  cursor: pointer;
}

.qty-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-right: 40px;
}
.arrow-btn {
  line-height: 1;
  border: none;
  background: none;
  color: blueviolet;
  font-size: 18px;
  cursor: pointer;
}

.qty {
  text-align: center;
  color: black;
  font-size: 18px;
}

.cart-footer {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-content: center;
  border-top: 1px solid #ddd;

  color: aliceblue;
  padding: 20px 10rem;
}

.total-label {
  color: rgba(0, 0, 0, 0.808);
  font-size: 1.2rem;
  font-weight: 400;
}

.total-price {
  color: blueviolet;
  font-weight: bold;
}

.clear-btn {
  display: flex;
  justify-self: center;
  background-color: lightskyblue;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
}
