body {
  margin: 0 auto;

  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  background-color: rgb(98, 98, 225);
  color: aliceblue;
}

h1 {
  font-size: small;
  font-weight: 50;

  font-size: 1.5rem;
}

span {
  height: 40px;
  width: 40px;
}
